.button{
    margin-right: 50%;
}
.button-rating{
    display: inline-block;
    width: 20%;
    background-color:#39445a;
    color: white;
    padding: auto;
    
}
  
.button-rating:hover {
    background-color: white;
    color: black;
  }


@media (max-width: 1000px) {
    .button {
      padding-top: 15px;
      font-size: 6.4vw;
    }
  }

  
  
