.button{
    margin-right: 50%;
}
.button-rating{
    display: inline-block;
    width: 20%;
    background-color:#39445a;
    color: white;
    
}
  
.button-rating:hover {
    background-color: white;
    color: black;
  }
