* {
    scroll-behavior: smooth;
  }
  
  .app {
    min-height: 100vh;
    background-color: #39445a;
    color: white;
    padding-top: 130px;
    padding-bottom: 70px;
  }
  
  @media (max-width: 700px) {
    .app {
      padding-top: 70px;
    }
  }
  
  .pageTitle {
    text-transform: uppercase;
    display: flex;
    justify-content: left;
    font-family: "Montserrat", sans-serif;
    font-size: 2vw;
    padding: 20px;
    border-radius: 50px;
    color: white;
  }
  
  @media (max-width: 1000px) {
    .pageTitle {
      font-size: 6.4vw;
    }
  }

  .movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 0%;
  }
  .button {
    
    background-color: #2d313a; 
  
    width:20%;
    position: relative;
    color: white;
    padding: 8px 32px;
   
    font-family: "Montserrat", sans-serif;
    text-decoration-color: white;
    display: inline-block;
    font-size: 15px;
    margin: 50px 500px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-style: oblique;

  }

  .button:hover {
    background-color:white;
    color: black;

  }

   
  @media (max-width: 1000px) {
    .button {
      font-size: 6.4vw;
    }
  }

  @media (max-width: 1000px) {
    .button {
      padding-top: 15px;
      font-size: 6.4vw;
    }
  }
  
